@media only screen and (max-width: 1200px) {

}
@media only screen and (max-width: 1025px) {
 

}
@media only screen and (max-width: 991px) {
 
} 

@media only screen and (max-width: 767px) {
 .header-banner {
    width: 100%;
    padding: 0 15px;
}
}

@media only screen and (max-width: 575px) {
 .gallery-wrappper img.img-fluid {
    height: auto;
    object-fit: cover;
    max-height: 100%;
}
.header-banner {
    width: 100%;
    padding: 0 15px;
}
}
@media only screen and (max-width: 600px) {
	.nav-link {
	    color: white !important;
	    font-size: 20px;
	}
}
